Package: com.purdix.zanilla9preview
Name: Zanilla9 Preview
Version: 1.0
Architecture: iphoneos-arm
Description: A small taste of Zanilla9
Maintainer: Purdix <kogulan.sivaneshan@gmail.com>
Author: Purdix <kogulan.sivaneshan@gmail.com>
Section: Themes
